<div class="container">
    <div class="row ">
        <div class="col-lg page">
            <h1>Eat The Burger</h1>
            <h3>Choose Your Burger...</h3>
            <img class="burger-solo" src="assets/img/burgersolo.png">

            <form class="create-form">
                <div class="form-group">
                    <label for="ba">Burger Type:</label>
                    <input type="text" id="ba" name="burger type">
                </div>
                <div class="form-group">
                    <label for="devoured">Devoured!</label>
                    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
                    <input type="radio" name="devoured" value="0"> Not Eaten
                </div>

                <button type="submit">Add Burger</button>
            </form>
        </div>

    </div>