<div class="container">
    <div class="row">
        <div class="col-lg intro">
            <h1>Eat The Burger</h1>
            <h3>Choose Your Burger...</h3>
            <img class="burger-solo" src="/public/assets/img/burgersolo.png">

        </div>
    </div>
</div>