.page {
  background-color: rgb(179, 167, 211) !important;
  text-align: center;
  height: 105vh;
}
h1 {
  font-family: 'Erica One', cursive;
  margin-top: 3vh;
}
h3 {
    font-family: 'Advent Pro', sans-serif;
}
img {
  max-width: 100%;
  max-height: 30vh;
  margin-top: 4vh;
}
.form-group {
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.footer {
  max-width: 100%;
  margin-top: 4vh;
}
